<div class="col-sm-12" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="add">
	<form th:action="@{/add}" th:object="${car}" method="post">
		<input type="text" name="brand" placeholder="Brand"/>
		<input type="text" name="model" placeholder="Model"/>
		<input type="text" name="power" placeholder="Power"/>
		<input type="text" name="plate" placeholder="Plate"/>
		<button type="submit" class="btn btn-sm btn-success">Create</button>
	</form>
</div>