<div class="col-sm-12" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="table">
	<table class="table">
		<tr>
			<th>id</th>
			<th>brand</th>
			<th>model</th>
			<th>horse power</th>
			<th>plate</th>
		</tr>
		<tr th:each="car : ${cars}">
			<td th:text="${car.getId()}"></td>
			<td th:text="${car.getBrand()}"></td>
			<td th:text="${car.getModel()}"></td>
			<td th:text="${car.getPower()}"></td>
			<td th:text="${car.getPlate()}"></td>

			<td>
				<!-- <a href="/redirect/update"><button class="btn btn-sm btn-success">update</button></a> -->

				<form action="/redirect/update" method="post">
					<input type="hidden" th:value="${car.getBrand()}" name="brand">
					<input type="hidden" th:value="${car.getModel()}" name="model">
					<input type="hidden" th:value="${car.getPower()}" name="power">
					<input type="hidden" th:value="${car.getPlate()}" name="plate">
					<button class="btn btn-sm btn-success" type="submit">update</button>
				</form>
			</td>

			<td>
				<form action="/del" method="get">
					<input type="hidden" th:value="${car.getPlate()}" name="plate">
					<button class="btn btn-sm btn-warning" type="submit">delete</button>
				</form>
			</td>

		</tr>
	</table>
</div>